.table-cell{
    -fx-background-color: #74d877;
    -fx-border-color: ForestGreen;
    -fx-text-fill: black;
}

.table-cell:hover{
    -fx-background-color: LightSlateGray;
}

.label {
    -fx-font-size: 12px;
}